.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
.text-group-sixteen {
    font-size: 16px;
    color: #0D1321;
    font-weight: 400;
}

.txt-grp-thtwo {
    font-size: 32px;
    font-weight: bold;
    color: #0D1321;
}

.txt-grp-tfour {
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    opacity: 70%;
}

.txt-grp-twnty {
    font-size: 20px;
    color: #0D1321;
    font-weight: 600;
}

.center {
    align-items: center;
}


/* header styles */

.hero-bg {
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 36px;
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.first-page {
    /* padding: 26px 221px 45px 221px; */
    text-align: center;
}

.hero-title {
    font-size: 38px;
    font-weight: 800;
    color: #0D1321;
}

.hero-img {
    margin: 16px 358px 34px 378px;
}

.txt-btn {
    max-width: 998px;
    max-height: 600px;
    text-align: center;
    margin: 0px 258px 341px 278px;
}

header button a {
    padding: 21px 24px 21px 24px;
    background-color: #0D1321;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    color: rgb(248, 239, 239);
}

header button {
    border: none;
}

/* why web devs styls */
.why-web-dev {
    /* width: 1140px;
    height: 1390px; */
    margin-top: 100px;
}

.container {
    max-width: 1140px;
    margin: 0 140px 0 140px;
}

.w-w-dcontent {
    text-align: center;
}

.msg1 {
    display: flex;
    gap: 120px;
    justify-content: space-between;

}

.msg2 {
    display: flex;
    gap: 30px;
    justify-content: space-between;

}

.msg3 {
    display: flex;
    gap: 120px;
    justify-content: space-between;
}

button {
    padding: 12px 20px 12px 20px;
}

button a {
    text-decoration: none;
    color: #0D1321;
}

/* my inspiration section styles  */
body main .my-inspiration {
    width: 1140px;
    margin: 0 140px 0 140px;
    text-align: justify;
}

body main section div h1 {
    text-align: center;
}

body main section div p {
    text-align: center;
}

.video {
    margin: 0 350px 0 350px;
}

/* skills styles */
body main .skills-container {
    justify-content: left;
}

.target-skills {
    width: 1140px;
    margin: 0 140px 0 140px;
}

.skills-container {
    display: flex;
    gap: 25px;
    margin-bottom: 120px;
}

.skill-column1 {
    width: 364px;
    height: 300px;
    padding: 40px;
}

.skill-column2 {
    width: 364px;
    height: 300px;
    padding: 40px;

}

.skill-column3 {
    width: 364px;
    height: 300px;
    padding: 40px;

}

body main section div a {
    font-weight: 800;
    color: black;
}

/* last bg styles */
.last-bg {
    background-image: url(../assets/handshake.jpg);
    width: 1140px;
    height: 313px;
    background-position: 100% 100%;
    margin: 0 140px 50px 100px;
    border-radius: 16px;
}

/* footer styles */
footer div p {
    font-size: 20px;
    font-weight: 800;
}

footer {
    margin: 0 140px 50px 100px;
    display: flex;
    justify-content: space-between;
}